<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/26fed6fd-8558-4c76-9003-fe3ae3f190cf/resourcegroups/COMP3851B20221128150833ResourceGroup/providers/Microsoft.Web/sites/FreshmanGuideProgram</ResourceId>
    <ResourceGroup>COMP3851B20221128150833ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://freshmanguideprogram.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>freshmanguideprogram.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>FreshmanGuideProgram</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>False</EnableMsDeployAppOffline>
    <UserName>$FreshmanGuideProgram</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="FunUniversityConnectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:comp3851bdbserver.database.windows.net,1433;Initial Catalog=COMP3851B_db;User ID=freshmanGuide@comp3851bdbserver;Password=compsci3851*" Name="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=LAPTOP-V9KLQ4QE\SQLEXPRESS01;Initial Catalog=FunUniversity;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\FunUniversityConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=LAPTOP-V9KLQ4QE\SQLEXPRESS01;Initial Catalog=FunUniversity;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="FunUniversityConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=tcp:comp3851bdbserver.database.windows.net,1433;Initial Catalog=COMP3851B_db;User ID=freshmanGuide@comp3851bdbserver;Password=compsci3851*</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>